@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

body{
    margin:0;
    font-family:'Nunito', sans-serif;
    background:#EFF1f7
}
.content{
    grid-area: content;
}
.sidebar{
    grid-area: sidebar;
    background:linear-gradient(to right,
    rgba(249,107,142,1),
    rgba(218,103,230,1),
    rgba(130,127,233,1));
    justify-content: center;
}
.footer{
    height: 50px;
    grid-area: footer;
    background:rgb(255, 255, 255);
    border-radius: 15px 15px 0 0;
}
.container{
    font-size: 1.5em;
    width:100%;
    height: 100vh;
    display:grid;
    grid-template-areas: 
    "sidebar"
    "content"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px 250px;
}
.sosmed ul{
    padding:0;
    justify-content: space-around;
    display:flex;
}
.sosmed li{
    list-style:none;
}
.sosmed li a{
    font-weight: bold;
    opacity: 0.5;
    text-decoration: none;
    transition:0.3s;
}
.content,
.sidebar,
.footer{
    padding:1em;
}
nav ul{
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
    text-align: center;
}
nav li{
    list-style: none;
    padding:1em 0;
    
}
nav li a{
    color: white;
    font-weight: bold;
    opacity: 0.5;
    text-decoration:none ;
    transition:0.3s;
}
nav li a:hover,.sosmed li a:hover{
    opacity: 1;
}

.hero{
    max-width: 960px;
    margin:0 auto;
    text-align: center;
}
.hero img{
    width:220px;
    height: 230px;
    border-radius: 50%;
}
.hero-content h1{
    font-size: 2em;
    font-weight: 300;
    color:#373d46;
}
.hero p{
    font-weight: 300px;
    line-height:1.8em
}
.action-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #867bfb;
    padding: 0.5em 2em;
    border-radius: 1em 0;
    transition:0.3s;
}
.action-btn:hover{
    box-shadow: 0 10px 50px rgba(188,197,216,1);
}
footer ul{
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-around;
    flex-direction: row;
}
footer li{
    list-style: none;
    padding:1em 0;
}
footer a{
    color: #867bfb;
    text-decoration:none;
}
footer img{
    width:10%;
}
@media (min-width:1040px){
    .container{
        grid-template-areas:
        "sidebar content"
        "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;
    }
    nav ul{
        display:flex;
        justify-content:space-between;
        flex-direction: column;
    }
    .sidebar{
        background:linear-gradient(
            rgba(249,107,142,1),
            rgba(218,103,230,1),
            rgba(130,125,254,1)
        );
        padding-top:3em;
    }
    .hero{
        text-align: left;
    }
    .hero img{
        width:120px;
        height: 130px;
        float:right;
    }
    footer ul{
        justify-content:space-evenly
    }
    footer img{
        width: 50px;
    }
    
}